<!-- <app-p1-looplab></app-p1-looplab> -->
<div class="container mr-5 mt-5">
<div class="container register-form">
    <div class="form"> 
      <div class="row justify-content-end">
        <div class="col-2">
          <button type="button" class="btn btn-success float-right mr-4 mt-4" data-toggle="modal"
          data-target="#ModalLoginForm">
          Add leave
        </button>
        </div>
      </div>
<div class="form-content">
<!-- Modal HTML Markup -->
<div id="ModalLoginForm" class="modal fade">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">Leave Details</h1>
        </div>
        <div class="modal-body">
            <form role="form" method="POST" action="">
                <input type="hidden" name="_token" value="">
                <div class="form-group">
                    <label class="control-label">Leave Type</label>
                    <div>
                        <input type="text" class="form-control input-lg" name="email" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Leave Descriptions</label>
                    <div>
                        <input type="text" class="form-control input-lg" name="password">
                    </div>
                </div>
                
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-success float-right mr-4 mt-4">Submit</button>

                        
                    </div>
                </div>
            </form>
            
            
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>

<div class="container">
    <h2>List of Leaves</h2>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered text-center">
          <thead class="thead-dark">
            <tr>
         
              <th>Leave Id</th>
              <th>Leave Type</th>
              <th>Leave Descriptions</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let leave of leaveData">
              <!-- <td > -->
                <!-- <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                    <label class="custom-control-label" for="customCheck1">1</label>
                </div> -->
              <!-- </td> -->
              <td>{{leave.id}}</td>
              <td>{{leave.leaveType}}</td>
              <td>{{leave.leaveDescription}}</td>
             
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- /.modal --
<!-- <app-p2-mizuxe-book-theme></app-p2-mizuxe-book-theme> -->

</div>
</div>
<a  class="btn btn-primary float-right mr-4 mt-4"  routerLink='/dashboard/timesheet'>Submit</a>
</div>
</div>