.w-fit-content {
    width: fit-content;
    
    
}




.input-text
{
height: 28px;
width: 80%;
margin-right: 4px;
margin-left: 4px;


}
.myTable {
    position:fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

