<div class="container ml-2 ">
  <div class="form">
    <div class="note text-center bt-6 mt-4">
      <span class="text-green h4">Timesheet</span>
    </div>
    <div class="row">
      <button
        class="btn btn-primary ml-4 mb-4 mt-4"
        (click)="displayPrevWeek()"

      >
        Prevoius Week
      </button>
      <button
        class="btn btn-primary ml-4 mb-4 mt-4"
        (click)="displayNextWeek()"
      >
        Next Week
      </button>
    </div>
    <div class="row bg-primary text-white ml-1  bt-2 ">
      <span class="h5 "><br> TIME SHEET FOR WEEK STARTING {{weekStart | date : "MMM dd YYYY" }} To {{weekEnd | date : "MMM dd YYYY" }} <br> </span>
    </div>
    <br><br>
    <form [formGroup]="timesheetForm">
      <table class="table " >
        <thead>
          <tr>
            <th scope="col">Project</th>
            <th scope="col">Task</th>
            <th scope="col" *ngFor="let days of daysData">
              {{ days | date: "dd/MM/yyyy" }}
            </th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <!-- [formGroup]="timesheetForm" (ngSubmit)="onTimesheetSubmit()" novalidate -->

          <tr>
            <td>
              <div class="form-group">
              <select name="project" formControlName="project">
                <option  >Select a Project</option>
                <option *ngFor="let project of projectData">
                  {{ project.projectName }}
                </option>
              </select>
            </div>
            <div >
              <div
                *ngIf="f.project.touched && f.project.invalid"
                class=" text-danger"
              >
                <span  *ngIf="f.project.errors"
                  >Select a project</span
                >
              </div>
            </div>
            </td>
            <td>
              <div class="form-group">
              <select name="task" formControlName="task">
                <option  >Select a Task</option>
                <option *ngFor="let task of taskData">
                  {{ task.taskType }}
                </option>
              </select>
            </div>
            <div >
              <div
                *ngIf="f.task.touched && f.task.invalid"
                class="text-danger"
              >
                <span  *ngIf="f.task.errors"
                  >Select a task</span
                >
              </div>
            </div>
            </td>
            <td>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control input-text"
                        id="monday"
                        formControlName="monday"
                      
                      />
                    </div>

                    <div *ngIf="f.monday.touched && f.monday.errors" class="text-danger">
                      <div *ngIf="f.monday.errors.required">Only integers are allowed</div>
                      <div *ngIf="f.monday.errors.min || f.monday.errors.max">Range Between 0 to 16</div>
                  </div>
            </td>   
            <td>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-text"
                  id="tuesday"
                  formControlName="tuesday"
                  
                />
              </div>
              <div *ngIf="f.tuesday.touched && f.tuesday.errors" class="text-danger">
                <div *ngIf="f.tuesday.errors.required">Only integers are allowed</div>
                <div *ngIf="f.tuesday.errors.min || f.tuesday.errors.max">Range Between 0 to 16</div>
            </div>
            </td>
            <td>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-text"
                  id="wednesday"
                  formControlName="wednesday"
                />
              </div>
              <div *ngIf="f.wednesday.touched && f.wednesday.errors" class="text-danger">
                <div *ngIf="f.wednesday.errors.required">Only integers are allowed</div>
                <div *ngIf="f.wednesday.errors.min || f.wednesday.errors.max">Range Between 0 to 16</div>
            </div>
            </td>
            <td>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-text"
                  id="thursday"
                  formControlName="thursday"
                />
                <!-- <div *ngIf="getControl.name.touched && getControl.name.invalid" class="text-danger">
                <div *ngIf="getControl.name.errors.required">Name is required.</div>
              
              </div> -->
              </div>
              <div *ngIf="f.thursday.touched && f.thursday.errors" class="text-danger">
                <div *ngIf="f.thursday.errors.required">Only integers are allowed</div>
                <div *ngIf="f.thursday.errors.min || f.thursday.errors.max">Range Between 0 to 16</div>
            </div>
            </td>

            <td>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-text"
                  id="friday"
                  formControlName="friday"
                />
              </div>
              <div *ngIf="f.friday.touched && f.friday.errors" class="text-danger">
                <div *ngIf="f.friday.errors.required">Only integers are allowed</div>
                <div *ngIf="f.friday.errors.min || f.friday.errors.max">Range Between 0 to 16</div>
            </div>
            </td>

            <td>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-text"
                  id="saturday"
                  formControlName="saturday"
                />
              </div>
              <div *ngIf="f.saturday.touched && f.saturday.errors" class="text-danger">
                <div *ngIf="f.saturday.errors.required">Only integers are allowed</div>
                <div *ngIf="f.saturday.errors.min || f.saturday.errors.max">Range Between 0 to 16</div>
            </div>
            </td>

            <td>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-text"
                  id="sunday"
                  formControlName="sunday"
                />
              </div>
              <div *ngIf="f.sunday.touched && f.sunday.errors" class="text-danger">
                <div *ngIf="f.sunday.errors.required">Only integers are allowed</div>
                <div *ngIf="f.sunday.errors.min || f.sunday.errors.max">Range Between 0 to 16</div>
            </div>
            </td>
            <td>
                 Hello
            </td>
          </tr>
          <br />
        </tbody>
      </table>
      <button
      class="btn btn-primary float-right mr-4 mt-4 text-white"
      (click)="onReset()"
     
    >
     Cancel
    </button>
      <button
        class="btn btn-primary float-right mr-4 mt-4 text-white"
        (click)="onSubmitTimesheetForm()"
       
      >
        Submit
      </button>
      <a
        routerLink="/dashboard/leave"
        class="btn btn-primary float-right mr-4 mt-4"
        >Add Leave</a
      >
      <a
        class="btn btn-primary float-right mr-4 mt-4"
        routerLink="/dashboard/task"
        >Add Task</a
      >
    </form>
    <!-- <a class="btn btn-primary float-right mr-4 mt-4">Submit</a> -->
  </div>
</div>
