
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<div class="container">
    <div class="form">
      <div class="note">
        <p>Timesheet</p>
      </div>
      <div class="row">
       
    <!-- <td scope="col" *ngFor="let day of daysData">
        {{ day | date: " dd/MM/yyyy" }} 
      </td> -->

      
    <!-- <td scope="col" *ngFor="let day of daysData">
        {{ day | date: " dd/MM/yyyy" }} 
      </td> -->
      <button class=" btn btn-info ml-4 mb-4 " (click)="displayPrevWeek()">Prevoius Week</button>
      <button class=" btn btn-primary ml-4 mb-4" (click)="displayNextWeek()">Next Week</button>
    <!-- <td scope="col" *ngFor="let day of daysData">
        {{ day | date: " dd/MM/yyyy" }} 
      </td> -->
      </div>
  
      <table class="table">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col" class="table-head">Project</th>
            <th scope="col" class="table-head">Task</th>
            <th scope="col" *ngFor="let day of daysData">
              {{day.weekName}}
              {{ day.day | date: " dd/MM/yyyy" }}
            </th>
            <th scope="col" class="table-head">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <select >
                <option>Select a Task</option>
                <option  *ngFor="let project of projectData">
                  {{ project.projectName }}
                </option>
              </select>
              

            </th>
            <th>
             
              <select >
                <option>Select a Task</option>
                <option  *ngFor="let task of taskData">
                  {{ task.taskType }}
                </option>
              </select>
            </th>
              
            <td><input type="text" name="monday" class="input-text"  [(ngModel)]="model.monday"  required ></td>
         
            <td><input type="text" name="tuesday"class="input-text"/></td>
            <td><input type="text" name="wednesday" class="input-text"/></td>
            <td><input type="text" name="thursday" class="input-text"/></td>
            <td><input type="text" name="friday" class="input-text"/></td>
            <td><input type="text" name="saturday" class="input-text"/></td>
            <td><input type="text" name="sunday" class="input-text"/></td>
           
            
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary float-right mr-4 mt-4">Submit</a>
      <a
      routerLink='/dashboard/leave'
        class="btn btn-primary float-right mr-4 mt-4"
        >Add Leave</a
      >
      <a  class="btn btn-primary float-right mr-4 mt-4"  routerLink='/dashboard/task'
        >Add Task</a>
    </div>
  </div>